
node_modules/

yarn.lock
pnpm-lock.yaml
.npmrc

cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/reports/*.json
cypress/reports/html/assets/

test-results/
coverage/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.swp
*.swo
*~

.env
.env.*
.env.local
.env.*.local

dist/
build/
out/

.cache/
.parcel-cache/
.turbo/
.next/

coverage/
/.nyc_output/
.pnp.cjs
.pnp.js

.tmp/